[submodule "CLIP4IDC"]
	path = CLIP4IDC
	url = https://github.com/sushizixin/CLIP4IDC
[submodule "RobustChangeCaptioning"]
	path = RobustChangeCaptioning
	url = https://github.com/Seth-Park/RobustChangeCaptioning
